<link rel="stylesheet" href="~/Content/text-editor-style.css"/>

<div class="main-panel">
    <div class="left-sidebar">
        <div class="top-bar left">
            <div class="button">
                <img src="~/Content/images/tag.png">
            </div>
            <div class="search" action="">
                <input type="text" name="search-string">
            </div>
            <div class="button" id="btn-add-document">
                <img src="~/Content/images/new-file.png" title="Add new document">
            </div>
        </div>
        <hr>
        <div class="other-files">
            <div class="other-file">
                <div class="file-header">
                    This is the title of the file
                </div>
                <div class="file-content">
                    Some random text here 11234
                </div>
            </div>
            <div class="file-separator"></div>
            <div class="other-file">
                <div class="file-header">
                    This is the title of the file
                </div>
                <div class="file-content">
                    Some random text here 11234
                </div>
            </div>
            <div class="file-separator"></div>
            <div class="other-file">
                <div class="file-header">
                    This is the title of the file
                </div>
                <div class="file-content">
                    Some random text here 11234
                </div>
            </div>
            <div class="file-separator"></div>
            <div class="other-file">
                <div class="file-header">
                    This is the title of the file
                </div>
                <div class="file-content">
                    Some random text here 11234
                </div>
            </div>
        </div>
    </div>

    <div class="separator"></div>

    <div class="central-section">
        <div class="top-bar central">
            <div class="text-manipulation">
                <div class="button">
                    <div class="letter-icon" id="bold">B</div>
                </div>
                <div class="button">
                    <div class="letter-icon" id="italic">I</div>
                </div>
                <div class="button">
                    <div class="letter-icon" id="underline">U</div>
                </div>
                <div class="button">
                    <div class="letter-icon" id="text-color">A</div>
                </div>
                <div class="alignment">
                    <div class="button left">
                        <img src="~/Content/images/align-left.png">
                    </div>
                    <div class="button centre">
                        <img src="~/Content/images/align-central.png">
                    </div>
                    <div class="button right">
                        <img src="~/Content/images/align-right.png">
                    </div>
                    <div class="button equalized">
                        <img src="~/Content/images/align-justify.png">
                    </div>
                </div>
            </div>
            <div class="file-operations">
                <div class="button statistics">
                    <img src="~/Content/images/statistics.png">
                </div>
                <div class="button history">
                    <img src="~/Content/images/history.png">
                </div>
                <div class="button share">
                    <img src="~/Content/images/share.png">
                </div>
            </div>
        </div>
        <hr>
        <div class="text-field">
            <textarea></textarea>
        </div>
    </div>

    <div class="separator"></div>

    <div class="right-sidebar">
        <div class="top-bar right">
            <div class="user-icon">
                <img src="~/Content/images/icon.jpg">
            </div>
        </div>
        <hr>
        <div class="online-collaborators">
            <div class="collaborator-sign">
                Online collaborators
            </div>
            <div class="collaborator-icons">
                <div class="collaborator-icon">
                    <img src="~/Content/images/icon.jpg">
                </div>
                <div class="collaborator-icon">
                    <img src="~/Content/images/icon.jpg">
                </div>
                <div class="collaborator-icon">
                    <img src="~/Content/images/icon.jpg">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sent-to-server">
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="modal-form" method="post">
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <button type="button" class="close" onclick="closeModal()" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="closeModal()">Close</button>
                    <button type="button" class="btn btn-primary modal-submit-button" onclick="submitForm(this)">Submit</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    function showModal(title, bodyHtml) {
        $('#myModal .modal-title').html(title);
        $('#myModal .modal-body').html(bodyHtml);
        $('#myModal').modal('show');
    }

    $('.button').click(function (e) {
        var btn = e.target.closest('.button');
        if ($(btn).attr('id') == 'btn-add-document') {
            var nameLabel = $('<label for="name" style="display: block">Document name</label>');
            var nameInput = $('<input name="name" />');

            var publicReadAll = $('<label for="PublicReadAll">Can everybody view</label>');
            var publicReadInput = $('<input type="checkbox" name="PublicReadAll" id="PublicReadAll" />');
            var publicRead = $('<div>').append(publicReadInput).append(publicReadAll);

            var publicWriteAll = $('<label for="PublicWriteAll">Can everybody edit</label>');
            var publicWriteInput = $('<input type="checkbox" name="PublicWriteAll" id="PublicWriteAll" />');
            var publicWrite = $('<div>').append(publicWriteInput).append(publicWriteAll);

            var result = $('<div>');
            result
                .append(nameLabel)
                .append(nameInput)
                .append(publicRead)
                .append(publicWrite)
            showModal('Add new document', result.html());
        }
    });

    function closeModal() {
        debugger;
        $('.modal-submit-button').removeAttr('disabled');
    }

    function submitForm(btn) {
        $(btn).attr('disabled', 'disabled');

        //TODO: ajax

        return false;
    }
</script>